@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Yanone/YanoneKaffeesatz-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Yanone/YanoneKaffeesatz-SemiBold.ttf) format('truetype');
}
