section
  section
    h1 ООC
  section
    h3 Object Oriented C
    h4: a(href="https://github.com/scottcgi/Mojoc") mojoc guide
     
section
  h2 Topics
  h4.fragment Mojo code Style
  h4.fragment Object Oriented C
