mixin code_c
  pre.c: code
    block

mixin li
  li.fragment.fade-in-then-semi-out
    block

mixin p
  p.fragment.fade-in-then-semi-out
    block

mixin arr
  div
    svg(width="48" height="48" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd")
      path(stroke="white" d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z")

mixin py 
  pre.python&attributes(attributes)
    code(data-trim data-noescape)
      block

mixin note
  aside.notes
    block

mixin sec_a
  section(data-auto-animate)
    block
      
mixin sec_b
  section(data-state="blur-bg")
    block
      
mixin sec_ab
  section(data-auto-animate data-state="blur-bg")
    block

